<a href="https://colab.research.google.com/github/Advanced-Data-Science-TU-Berlin/Data-Science-Training-Python-Part-2/blob/main/exercises/Final_Exam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Fina Exam
For the final exercise we are using the data on the customer's records from a groceries firm's database.

## Data Introduction

Customer Personality Analysis is a detailed analysis of a company’s ideal customers. It helps a business to better understand its customers and makes it easier for them to modify products according to the specific needs, behaviors and concerns of different types of customers.

Customer personality analysis helps a business to modify its product based on its target customers from different types of customer segments. For example, instead of spending money to market a new product to every customer in the company’s database, a company can analyze which customer segment is most likely to buy the product and then market the product only on that particular segment.

Content

Attributes

People

ID: Customer's unique identifier Year_Birth: Customer's birth year Education: Customer's education level Marital_Status: Customer's marital status Income: Customer's yearly household income Kidhome: Number of children in customer's household Teenhome: Number of teenagers in customer's household Dt_Customer: Date of customer's enrollment with the company Recency: Number of days since customer's last purchase Complain: 1 if the customer complained in the last 2 years, 0 otherwise Products

MntWines: Amount spent on wine in last 2 years MntFruits: Amount spent on fruits in last 2 years MntMeatProducts: Amount spent on meat in last 2 years MntFishProducts: Amount spent on fish in last 2 years MntSweetProducts: Amount spent on sweets in last 2 years MntGoldProds: Amount spent on gold in last 2 years Promotion

NumDealsPurchases: Number of purchases made with a discount AcceptedCmp1: 1 if customer accepted the offer in the 1st campaign, 0 otherwise AcceptedCmp2: 1 if customer accepted the offer in the 2nd campaign, 0 otherwise AcceptedCmp3: 1 if customer accepted the offer in the 3rd campaign, 0 otherwise AcceptedCmp4: 1 if customer accepted the offer in the 4th campaign, 0 otherwise AcceptedCmp5: 1 if customer accepted the offer in the 5th campaign, 0 otherwise Response: 1 if customer accepted the offer in the last campaign, 0 otherwise Place

NumWebPurchases: Number of purchases made through the company’s website NumCatalogPurchases: Number of purchases made using a catalogue NumStorePurchases: Number of purchases made directly in stores NumWebVisitsMonth: Number of visits to company’s website in the last month

To read more about the data please check [here](https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis).

### What is customer segmentation?
Customer segmentation is the practice of separating customers into groups that reflect similarities among customers in that group. The goal is to segment customers to optimize the significance of each customer to the business.

Benefits: 
- To modify products according to distinct needs and behaviours of the customers
- It also helps the business to cater to the concerns of different types of customers


> Since the data set is part of Kaggle DataSets you need to have your own `Access Token`. If you don't know how to get one please check [here](https://www.kaggle.com/docs/api). Alternatively you can just download the data and place it in the same directory as this file.

Run the following section to install the external packages:

In [ ]:
!pip install opendatasets
!pip install wordcloud

Now let's try to get the data from Kaggle using the opendatasets package:

In [ ]:
import opendatasets as od
od.download("https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis", force=True)

In [12]:
# Imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
% matplotlib inline

# Load the data from into pandas DataFrame
# Make sure to put the right path to the data
df = pd.read_csv("customer-personality-analysis/marketing_campaign.csv",
                 delimiter='\t', parse_dates=['Dt_Customer'])

# Let's loolk at so ok me rows
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-04-09,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-08-03,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-10-02,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0

## Preprocessing
Let's try to extract some useful `statistics` from this data and do  `preprocessing`.

Now let's draw some basic statistics from it:

## **Question 1: Descriptive Statistics **


Please report the mean , standard deviation, median of all Numeric Variables like Year_Birth, Income, Kidhome,.....

In [ ]:
# Use std/mean/median on pandas DataFrame here

## **Question 2: Inferential Tests **
Regarding the data, plesae estimate whether there is a significant or non signficant difference between `Married` and `Divorced` custommer in the amount spent on meat `MntMeatProducts`?

### Part-1
For this question, please make two groups based on the the Marital status and then compare their Amount spent on Meat Product.

In [ ]:
from scipy.stats import ttest_ind
# Select group1 as Marries and uncomment next line
# group1 = 

# Select group2 as Divorced and uncomment next line
# group2 = 

# Apply ttest between group1 and group2

### Part-2
Regarding the data, plesae estimate whether there is a significant or non signficant difference between `Married` and `Signal` custommer in the amount spent on meat `MntMeatProducts` ?

For this question, please make two groups based on the the Marital status and then compare their Amount spent on Meat Product.

In [ ]:
# Similar to part-1 apply the test on the new groups

## **Question 3: Binary Logistic Regression **

Regrding the data, There are these variables :

1. MntWines: Amount spent on wine in last 2 years 
2. MntMeatProducts: Amount spent on meat in last 2 years
3. NumWebVisitsMonth: Number of visits to company’s website in the last month
4.NumDealsPurchases: Number of purchases made with a discount

Then, there is a binary variable : `Response` which is " Whether this person resoponses to the offer of the company. We have an assumption that there are significant relationship between this binary variable and 4 aforementioend vriables.

> Please develop a Binary logistic regression model to explain the 
relationships between a binary variable "Response" and these four variables and estimate the coefficents and their p values.

In [ ]:
# Import
import statsmodels.formula.api as smf
# Run the logit with the proper formula/function and fit it on data

# Print the model summary

## **Question 4: Feature Engineering **

Try to answer each of these questions and follow the steps:

Is there any missing values?

In [ ]:
# Is there any missing values? print df.info()

## **Question 6: Time-series Analysis **

 Can you plot the time-series for number of customers enrolled over time (days)? Is it stationary?
> Dt_Customer is the Date of customer's enrollment with the company.

In [ ]:
from statsmodels.tsa.stattools import kpss, adfuller
# Let's take a look at the time-series of number of customers enrolled in different days

# Grouping data by days and count the number of unique users being enrolled
daily_enrollment = df.set_index('Dt_Customer').groupby(pd.Grouper(freq='d')).ID.nunique()

# Plot the time-series data

# Can you say which period of time the company was more active to get more customers?

# use either kpss or adf to test the stationarity of this time-series. Is it stationary?

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

## **Question 7: Visualization **

### Part-1: Can you visualize customer's education level and marital status based on their frequency?

In [ ]:
from wordcloud import WordCloud
# Calculate the frequencies for each of the education level and marital status
education_freq = df.groupby("Education").size().sort_values()
marital_status_freq = df.groupby("Marital_Status").size().sort_values()

# Use wordcloud to show the frequency of different education levels among customers
# Tell what is the education level of majority of the customers

# Use pie-chart to show the frequency of different marital status among customers
# If you don't know how check this: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.pie.html
# Tell what is the marital status of majority of the customers

### Part-2 What is the distribution of the customer's income?

In [ ]:
# Plot the distribution of incomes using `hist` set bins to 100

# Plot the cumulative distribution of incomes using hist and cumulative=1

# Remove outliers: incomes which are too big
# Guess the threshold by looking at the previous cumulative plot 

# thresh = ? # Uncomment this line and replace ? with the threshold
filtered_income_df = df.query(f"Income<{thresh}")

# Plot the histogram of filtered incomes
# How does the distribution looks like?
filtered_income_df.Income.hist(bins=20)
plt.show()

## **Question 8: Clustering **
Can you clustering the customers into segments using different or only selection of features?
- Scale your data 
- Use KMeans to cluster the data
- Try to find the number of clusers
- [OPTIONAL] Can you infer anything out of your results?
- [OPTIONAL] Feel free to apply feature reduction techniques before applying the model
- [OPTIONAL] Feel free to try out other clustering methods

In [13]:
# Features Preprocessing
# Create age from year of birth
df["Age"] = 2021 - df["Year_Birth"]
# Total spendings on various items
df["TotalSpent"] = df["MntWines"] + df["MntFruits"] + df["MntMeatProducts"] + \
                   df["MntFishProducts"] + df["MntSweetProducts"] + df["MntGoldProds"]
# Total children living in the household
df["Children"] = df["Kidhome"] + df["Teenhome"]
# Pertaining parenthood
df["Is_Parent"] = np.where(df.Children> 0, 1, 0)
# Deriving living situation by marital status"Alone"
df["Living_With"] = df["Marital_Status"].replace({"Married":"Partner", "Together":"Partner",
                                                "Absurd":"Alone", "Widow":"Alone",
                                                "YOLO":"Alone", "Divorced":"Alone", "Single":"Alone"
                                                })
# Total members in the householde
df["Family_Size"] = df["Living_With"].replace({"Alone": 1, "Partner":2}) + df["Children"]
# Total number of purchases
df["TotalNumPurchases"] = df["NumWebPurchases"] + df["NumCatalogPurchases"] + df["NumStorePurchases"]
# Select better names 
df.rename(columns={"MntWines":"n_Wines", "MntFruits":"n_Fruits",
                   "MntMeatProducts":"n_Meat", "MntFishProducts":"n_Fish",
                   "MntSweetProducts":"n_Sweets", "MntGoldProds":"n_Gold"},
          inplace=True)
print(df.head())

     ID  Year_Birth   Education Marital_Status   Income  Kidhome  Teenhome  \
0  5524        1957  Graduation         Single  58138.0        0         0
1  2174        1954  Graduation         Single  46344.0        1         1
2  4141        1965  Graduation       Together  71613.0        0         0
3  6182        1984  Graduation       Together  26646.0        1         0
4  5324        1981         PhD        Married  58293.0        1         0

  Dt_Customer  Recency  n_Wines  ...  Z_CostContact  Z_Revenue  Response  Age  \
0  2012-04-09       58      635  ...              3         11         1   64
1  2014-08-03       38       11  ...              3         11         0   67
2  2013-08-21       26      426  ...              3         11         0   56
3  2014-10-02       26       11  ...              3         11         0   37
4  2014-01-19       94      173  ...              3         11         0   40

   TotalSpent  Children  Is_Parent  Living_With  Family_Size  \
0        1617         0          0        Alone            1
1          27         2          1        Alone            3
2         776         0          0      Partner            2
3          53         1          1      Partner            3
4         422         1          1      Partner            3

   TotalNumPurchases
0                 22
1                  4
2                 20
3                  6
4                 14

[5 rows x 36 columns]

In [16]:
from sklearn.preprocessing import StandardScaler
# Select your feature
X = df[['Age', 'TotalSpent', 'Children', 'Family_Size', 'Is_Parent', 'Income', 'Recency', 
        'n_Wines', 'n_Fruits', 'n_Meat', 'n_Fish', 'n_Sweets', 'n_Gold', 'TotalNumPurchases']]
# Scale your features

# Cluster your data

# Find the number of clusters

# [OPTIONAL] Interpret the result